<div>
  <h1>It works !!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum similique consequuntur nesciunt accusantium quaerat
    itaque nihil voluptatibus libero aut explicabo ullam dolorum, modi hic eius molestias suscipit. Libero, nemo
    accusamus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum similique consequuntur nesciunt accusantium quaerat
    itaque nihil voluptatibus libero aut explicabo ullam dolorum, modi hic eius molestias suscipit. Libero, nemo
    accusamus.</p>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum similique consequuntur nesciunt accusantium quaerat
    itaque nihil voluptatibus libero aut explicabo ullam dolorum, modi hic eius molestias suscipit. Libero, nemo
    accusamus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum similique consequuntur nesciunt accusantium quaerat
    itaque nihil voluptatibus libero aut explicabo ullam dolorum, modi hic eius molestias suscipit. Libero, nemo
    accusamus.</p>
</div>
<router-outlet></router-outlet>